
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<ElectricityCalculation>
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Electricity </span>
            <div style="float:right;">
                <a href="/" class="btn btn-secondary me-2">
                    <i class="fas fa-arrow-left me-1"></i>Geri
                </a>
                <a class="btn btn-outline-primary" asp-area="Calculation" asp-controller="Electricity" asp-action="Create">+Veri Ekle</a>
            </div>
        </h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Veriler</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Firma İsmİ</th>
                            <th>Ülke</th>
                            <th>Tüketim Miktarı</th>
                            <th>Emisyon Faktörü</th>
                            <th>Toplam Emisyon</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model.Any())
                        {


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Company.Name</td>
                                    <td>@item.Country</td>
                                    <td>@item.ConsumptionAmount</td>
                                    <td>@item.EmissionFactor</td>
                                    <td>@item.TotalEmission</td>
                                    <td>
                                        <a asp-area="Calculation" asp-controller="Electricity" asp-action="Detail" asp-route-id="@item.Id" class="btn p-0">
                                            <i class="bx bx-show"></i>
                                        </a>
                                        <a asp-area="Calculation" asp-controller="Electricity" asp-action="Delete" asp-route-id="@item.Id" class="btn p-0" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz? Devam etmek için Tamam, iptal etmek için İptal\'e tıklayın.');">
                                            <i class="bx bx-x"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    Veri Bulunamadı
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

